#banner
  .banner_content
    %h1 NoteX
    %p Your online notebook. Never forget an idea again.
    %button
      = link_to "Sign Up", new_user_registration_path, class: "button"
    %p

#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period."

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Lorem ipsum Culpa minim ullamco aute ut cupidatat et velit sunt eu in.
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Lorem ipsum Culpa minim ullamco aute ut cupidatat et velit sunt eu in.
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Lorem ipsum Culpa minim ullamco aute ut cupidatat et velit sunt eu in.

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don't, I will find you!
    %button= link_to "Click Meee !!!", new_user_registration_path

%footer
  %p &copy; I am